<!doctype html>
<head>
    <title>Obrigado por votar!</title>
    <link href="{{url_for('static', filename='style/jquery.circliful.css')}}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script/jquery.circliful.min.js')}}"></script>
</head>
<body>
    <div class="row">
        <div class="col-lg-2">
            <div id="grafico-circular"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#grafico-circular").circliful({
                animationStep: 5,
                foregroundBorderWidth: 15,
                backgroundBorderWidth: 15,
                percentages: [15,30,45]
            });
        });
    </script>
</body>
